<script src="/js/itens_carrinho.js" defer></script>
<link rel="stylesheet" href="/css/produtos.css">
<div class="img_cont">
<ul class="prods">
    {{#each dados}}
        <li>
            <h2>{{this.nome}}</h2>
            <img class="item_img" src="/img/{{this.nome}}.jpg" alt="Viagem para {{this.nome}}">
            <br>
            <p>R${{this.preco}}</p>
            <button class="adicionar-ao-carrinho" data-nome={{this.nome}} data-preco={{this.preco}} data-qtde=1 cod-prod={{this.id}}>Adicionar ao Carrinho</button>
        </li>
    {{/each}}
</ul>
</div>